body{
    height: 20vh;
    }

    header{
        text-align: center;
        padding: 20px;
    }

    .element{
        position: relative;
        bottom: 50px;
        left: 32px;
        color: black;
        font-size: 2.5em;
        width: 373px;
        text-align: center;
        background: rgba(205, 199, 202, 0.8) 
    }

    img{
        margin-bottom: -30px;
        margin-left: 20px;
    
    }

a img{
    width: 55vh;
    height: 34vh;
    padding: 10px;
    border-radius: 20px;
    border: black 2px solid;
    
}

.text{
    text-align: justify;
    font-size: 13pt;
}

button img{
    padding: 0;
    width: 60px;
    height: 30px;
    
}
.christmasButtonOne{
    margin: -10px;
    height: 40px;
    width: 60px;
    background-size: contain;
    background-image: url(IMAGES/Christmas1.jpg);
}
.christmasButtonTwo{
    height: 40px;
    width: 60px;
    background-size: contain;
    background-image: url(IMAGES/Christmas2.jpg);
}
.christmasButtonThree{
    height: 40px;
    width: 60px;
    background-size: contain;
    background-image: url(IMAGES/Christmas3.jpg);
}
.christmasButtonFour{
    height: 40px;
    width: 60px;
    background-size: contain;
    background-image: url(IMAGES/Christmas4.jpg);
}
.christmasButtonFive{
    height: 40px;
    width: 60px;
    background-size: contain;
    background-image: url(IMAGES/Christmas5.jpg);
}
.christmasButtonSix{
    height: 40px;
    width: 60px;
    background-size: contain;
    background-image: url(IMAGES/Christmas6.jpg);
}
/* .christmasButtonSix{
    height: 40px;
    width: 60px;
    background-size: contain;
    background-image: url(IMAGES/kaledos6.jfif);
} */

li{
    list-style: none;
}

.changing_img{
    padding: 5px;
    margin: 0;
    border-radius: 10px;
    height: 415px;
    width: 550px;

}
/* .text-image{
    float:right;
} */

.button-area{
    text-align: center;
    margin: 5px;
}
button{
    padding: 8px 30px;
    font-size: 20px;
}

#postcard{
    /* display: inline; */
    border: 2px solid black;
    height: 420px;
    width: 1200px;
    margin: 40px auto;
}