body{

        background: linear-gradient(to bottom, #ffffff 0%, #000000 200%);
    
}

    header{
        text-align: center;
        padding: 20px;
    }

   

    .element{
        position: relative;
        bottom: 80px;
        left: 0px;
        color: black;
        font-size: 2.5em;
        width: 366px;
        text-align: center;
        background: rgba(205, 199, 202, 0.8);
        display:block;
        margin: 0 auto;
    }

    img{
      display:block;
      margin: 0 auto;

    }

a img{
    width: 390px;
    height: 233px;
    padding: 10px;
    border-radius: 20px;
    border: black 2px solid;
    text-align: center;
}

button img{
    padding: 0;
    width: 60px;
    height: 30px;
    
}
.christmasButtonOne{
    /* margin: -10px; */
    height: 40px;
    width: 60px;
    background-size: contain;
    background-image: url(IMAGES/Christmas1.jpg);
}
.christmasButtonTwo{
    height: 40px;
    width: 60px;
    background-size: contain;
    background-image: url(IMAGES/Christmas2.jpg);
}
.christmasButtonThree{
    height: 40px;
    width: 60px;
    background-size: contain;
    background-image: url(IMAGES/Christmas3.jpg);
}
.christmasButtonFour{
    height: 40px;
    width: 60px;
    background-size: contain;
    background-image: url(IMAGES/Christmas4.jpg);
}
.christmasButtonFive{
    height: 40px;
    width: 60px;
    background-size: contain;
    background-image: url(IMAGES/Christmas5.jpg);
}
.christmasButtonSix{
    height: 40px;
    width: 60px;
    background-size: contain;
    background-image: url(IMAGES/Christmas6.jpg);
}
/* .christmasButtonSix{
    height: 40px;
    width: 60px;
    background-size: contain;
    background-image: url(IMAGES/kaledos6.jfif);
} */

li{
    list-style: none;
}

.changing_img{
<<<<<<< HEAD
    padding: 5px;
    margin: 0;
=======
    /* padding: 5px; */
>>>>>>> 27d1acb5efd2b84e7041b54bcffdd837318ee0b2
    border-radius: 10px;
    height: 415px;
    width: 550px;

}
/* .text-image{
    float:right;
} */

.button-area{
    text-align: center;
    /* margin: 5px; */
}
button{
    /* padding: 8px 30px; */
    font-size: 20px;
}

#postcard{
    /* display: inline; */
    border: 2px solid black;
    height: 420px;
    width: 1200px;
    /* margin: 40px auto; */
}